# MATLAB autosave file
*.asv

# Simulink autosave files
*.slxc
*.r2019b
*.r2021a
*.r2022a

# Simulink temporary files
**/slprj/
*.autosave

# Never commit files that are downloaded by user
toolbox/examples/visodom/**
toolbox/examples/mosaic/**
