name: Run all book tests

on: 
  # Automatically run this action when a new push is made to repo
  push:

  # Run tests every 6 months after prerelease comes out to check for regressions. 
  # Prerelease for "a" release is out by Jan 1. for "b" release by Jul 1
  schedule:
    - cron: "0 0 1 1,7 *"
      
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  my-job:
    name: Run tests
    runs-on: ubuntu-latest
    steps:
      - name: Check out RVC3-MATLAB repository (for unit tests)
        uses: actions/checkout@v4
      - run: echo "The ${{ github.repository }} repository has been cloned to the runner."          

      - name: Update apt package cache
        # Run apt-get update to get the latest package cache 
        run: |
          sudo apt-get update
          
      - name: Start display server
        # Start a display server so Java Swing is available for testing
        run: |
          sudo apt-get install xvfb
          Xvfb :99 &
          echo "DISPLAY=:99" >> $GITHUB_ENV

      - name: Install GStreamer and plugins for VideoReader
        run: |
          sudo apt-get install libgstreamer-plugins-bad1.0-0 gstreamer1.0-plugins-ugly
                    
      - name: Set up MATLAB
        # This uses the latest release of MATLAB. Can specify "release" if needed.
        # Use v2 for Java Swing access
        uses: matlab-actions/setup-matlab@v2
        with:
          products: >
            Automated_Driving_Toolbox
            Computer_Vision_Toolbox
            Control_System_Toolbox
            Deep_Learning_Toolbox
            Image_Processing_Toolbox
            MATLAB
            Model_Predictive_Control_Toolbox
            Navigation_Toolbox
            Optimization_Toolbox
            Parallel_Computing_Toolbox
            Simulink
            Simulink_Test
            Robotics_System_Toolbox
            ROS_Toolbox
            Signal_Processing_Toolbox
            Statistics_and_Machine_Learning_Toolbox
            Symbolic_Math_Toolbox
            UAV_Toolbox
          # Run tests with prerelease as soon as available; switch to GR once it's live
          release: latest-including-prerelease

      - name: Print out ver details
        uses: matlab-actions/run-command@v1
        with:
          command: ver; exit;
        
      - name: Run MATLAB Tests
        # Only run tests in folder test/book
        uses: matlab-actions/run-tests@v2
        with:
          select-by-folder: test/book
          startup-options: -webfigures
          code-coverage-cobertura: code-coverage/coverage.xml
          # Run tests in parallel. Requires Parallel_Computing_Toolbox in "products" list above
          use-parallel: true
